<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ description }}" />
    <link rel="stylesheet" href="{{ '/assets/reset.css' | url }}" />
    <link rel="stylesheet" href="{{ '/assets/style.css' | url }}" />
  </head>
  <body>
    <header>
      <a href="{{ '/'|url }}">
        <img
          alt="Theater-AG TUHH mascot"
          class="logo"
          src="{{ '/assets/chameleon_simple.png' | url }}"
      /></a>
      <nav>
        <ul>
          <li>
            <a href="{{ '/shows'|url }}">Aufführungen</a>
          </li>
          <li>
            <a href="{{ '/impressum'|url }}">Impressum</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>{{ content | safe }}</main>
    <footer>
      <a href="https://www.asta.tuhh.de/" target="_blank" rel="noopener noreferrer"><img alt="Asta Logo" src="{{ '/assets/asta.png' | url }}" /></a>
      <p>Copyright © {% year %} - {{ site.title }}</p>
    </footer>
  </body>
</html>
